.addonresult {

  &:hover {
    background: #eee;
  }

  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
  background: #f6f6f6;

  h2 {
    margin: 0;
  }

  .meta {
    margin-top: 10px;

    a {
      margin-left: 5px !important;
    }
  }

  .resultimage {
    width: 64px;
    height: 64px;
    float: left;
    padding: 0 10px 10px 0;
  }
}

.jsonlyib {
  display: inline-block !important;
}
