@import "../../theme/variables.scss";

.home {
  .masthead {
    .github {
      font-size: 1.5em;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      color: #ddd;
      font-size: 2em;
      margin: 20px;
    }
  }
  dd {
    margin-bottom: 15px;
  }
}
