@import "../../theme/variables.scss";

.addondetail {
  margin: 100px auto 1em;
  padding: 1em;

  h1 {
    margin: 0 0 0.5em;
  }

  max-width: 600px;
  border-radius: 10px;
  border: 1px solid $module-border;
  background: $module-background;

  img {
    padding: 0 8px 5px 0;
    float: left;
  }
}

.nyan {
  display: block;
  margin: 0 auto;
}

